* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--color-primary);
    background-color: var(--color-background);
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-top: 160px ;
}

.auth-form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: solid 3px #ad8a1f;
}

.auth-form h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--color-secondary);
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-secondary);
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-text);
    padding: 0.8rem 1rem;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-size: 1rem;
}

.btn:hover {
    background-color:  #b88f14;
}

.form-footer {
    text-align: center;
    margin-top: 1rem;
}

.form-footer a {
    color: var(--color-accent);
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 1rem;
    }

    nav ul li {
        margin: 0 1rem;
    }

    .auth-form {
        padding: 1.5rem;
    }
}